*{
	padding:0;
	margin:0;
}
body
{
	background-color: black;
	overflow-x: none;
}
.footer
{
	position: absolute;
	top:0;
	width: 100%;
	height: 5%;
	color:white;
	background-image: linear-gradient(grey,black);
	font-size: 1vh;

}

.Status
{
	position: absolute;
	bottom: 1vh;
	left: 10%;
	color: white;
	text-decoration: none;
}
.Events
{
	position: absolute;
	bottom: 1vh;
	left: 45%;
	color: white;
	text-decoration: none;
}
.Logout
{
	position: absolute;
	bottom: 1vh;
	left: 80%;
	color: white;
	text-decoration: none;
}

.profile
{
	position: absolute;
	top: 5%;
	color: white;
	width: 100%;
	left: 0;
	overflow-x: hidden;
	text-align: center;
	font-size: 1vh;

}
.profile img
{
	padding-top: 5%;
	left: 30%;
	width: 30%;
	height: 40%;
	border-style: solid;
	border-color: black;
	border-radius: 50%;
}
.details
{
	text-align: center;
	color: white;
	top: 50%;
}
.progressdiv , .progressbar
{
	display: none;
}
.List
{
	padding-top: 10%;
	position: absolute;
	top: 30%;
	width: 100%;
	font-size: 1.6vh;
	text-align: center;
	overflow-x: hidden;
}
#card
{
	position: relative;
	width: 80%;
	left: 10%;
	height: 50%;
	color: white;
}
.title
{
	text-align: center;
	padding-top:2vh;
}
.button
{
	text-align: center;
}
button
{
	cursor: default;
	background-color: black;
	color: white;
	border:none;
	padding: 4vh;
	font-size: 1.5vh;
}
/*.large-header
{
	display: none;
}*/